[mysqld]
port=3306
socket=/tmp/mysql.sock
key_buffer_size=16M
max_allowed_packet=8M
default_authentication_plugin=mysql_native_password

slow_query_log # slow queryログの有効化
slow_query_log_file=/var/log/mysql/slow_query.log # ファイルパス
long_query_time=5 # 5秒以上処理に時間がかかったクエリを記録
log-queries-not-using-indexes # インデックスが使用されていないクエリをログに出力

general_log # 詳細ログ有効化
general_log_file=/var/log/mysql/general.log # ファイルパス

log-bin=master-bin #バイナリログのベース名
log-bin-index=master-bin #バイナリログのファイル名を記録したindexファイル名

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid